/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #ffffff #0B3C2E; // Verde principal sobre verde oscuro
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: #0B3C2E; // Verde oscuro
}

*::-webkit-scrollbar-thumb {
  background-color: #25D366; // Verde principal
  border-radius: 32px;
  // border: 2px solid #0B3C2E; // opcional, si quieres un borde
}
