<app-language-bar></app-language-bar>
<section class="main">
  <div class="upper-section">
    <div class="qomander">
      <img class="qomander__logo" src="./assets/images/logo/logo_wabot.webp" alt="qomander" />
      <h1 class="qomander__title">Wabot Menu</h1>
    </div>
    <h1 class="heading">Toma Pedido</h1>
  </div>

  <div class="bottom-section">
    <div class="order-type">
      <div class="block" routerLink="/menu">
        <img class="picture" src="./assets/images/icons/eat-in.png" alt="Tomar Pedido" />
        <p class="title">Tomar Pedido</p>
      </div>
      <div class="block" routerLink="/menu">
        <img class="picture" src="./assets/images/icons/take-out.png" alt="Para llevar" />
        <p class="title">Para llevar</p>
      </div>
    </div>
  </div>
</section>
