@import "/src/assets/scss/colors";

.main {
  display: flex;
  height: 100%;
}

.menu-block {
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  .heading {
    margin-top: 128px;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 18px;
    line-height: 60px;
  }

  .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto;
    padding-bottom: 30px;
    padding-right: 15px; // para que scrollbar no se superponga
    margin-right: -15px;
  }

  .menu-item { // nuevo bloque de cada ítem del menú
    background-color: $secondary; // verde oscuro
    border: 2px solid $primary;   // borde verde principal
    border-radius: 17px;
    margin-bottom: 20px;
    padding: 12px;
    cursor: pointer;
    transition: border-color 0.3s;
  }
}

.scroll-shadow {
  width: calc(100% + 45px);
  height: 109px;
  position: absolute;
  bottom: -25px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0 0 0 / 93%) 76%);
  margin-left: -20px;
}

.no-data {
  text-align: center;

  > img {
    max-width: 75%;
    border: 2px solid $primary; // borde verde principal
    border-radius: 13px;
    padding: 10px;
  }

  > h1 {
    margin-top: 15px;
  }
}
